<!DOCTYPE HTML>
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script> 
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript" src="/js/jquery.nivo.slider.js"></script>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
</head>
<body>
	<div class="header">
		 <div class="headertop_desc">
			<div class="wrap">
				<div class="nav_list">
					<ul>
							<li><a href="/">主站</a></li>
							<li><a href=#>直播</a></li>
							<li><a href="contact.html">联系我们</a></li>
					</ul>
				</div>
					<div class="account_desc">
						<ul>
							<li><a href="users">Welcome:<%=name%> </a></li>
							<li><a href="logout">退出登录</a></li>
						</ul>
					</div>
				<div class="clear"></div>
			</div>
	  	</div>
  	  		<div class="wrap">
				<div class="header_top">
					<div class="logo">
						<a href="/"><img src="images/logo.jpg" alt="" /></a>
					</div>
						<div class="header_top_right">
						  <!--<div class="cart">
						  	   <p><span>Cart</span><div id="dd" class="wrapper-dropdown-2"> (empty)
						  	   	<ul class="dropdown">
										<li>you have no items in your Shopping cart</li>
								</ul></div></p>
						  </div>-->
							  <div class="search_box">
									<form action="/result"  method="POST">
										<input type="text" name="research" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
									</form>
					     	</div>
						 <div class="clear"></div>
					</div>
			 <div class="clear"></div>
  		</div>     
				
   <!------------End Header ------------>
  <div class="main">
  	<div class="wrap">
      <div class="content">
	      <div class="section group">
			</div>
			<% if(list.length==0) {   %>
				<h4> 您搜索的内容不存在</h4>
				<% }else{ %>
			<div class="content_bottom">
    		<div class="heading">
    		<h3>人气视频</h3>
    		</div>
    	  </div>
			<div class="section group">
				<% for(var i=0;i<list.length;i++){ %>
						<div class="grid_1_of_5 images_1_of_5">
								<a href="/video/<%= list[i] %>"><img src="/images/beauty_and_the_beast.jpg" alt="" /></a>
								<h2><a href="/video/<%= list[i] %>">Beauty and the beast</a></h2>
							   <div class="price-details">				  
											  <div class="add-cart">								
											   <h4><a href="/video/<%= list[i] %>">播放</a></h4>
											</div>
										<div class="clear"></div>
							   </div>
						   </div>
                <% }} %>    

			</div>
       </div>
  </div>
</div>
   <div class="footer">
   	  <div class="wrap">	
	     <div class="section group">
				<div class="col_1_of_4 span_1_of_4">
						<h4>Information</h4>
						<ul>
						<!--<li><a href="#">About Us</a></li>
						<li><a href="#">Customer Service</a></li>
						<li><a href="#">Advanced Search</a></li>
						<li><a href="#">Orders and Returns</a></li>-->
						<li><a href="contact.html">Contact Us</a></li>
						</ul>
					</div>
				<!--<div class="col_1_of_4 span_1_of_4">
					<h4>Why buy from us</h4>
						<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Customer Service</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="contact.html">Site Map</a></li>
						<li><a href="#">Search Terms</a></li>
						</ul>
				</div>-->
				<div class="col_1_of_4 span_1_of_4">
					<h4>我的账户</h4>
						<ul>
							<li><a href="contact.html">登陆</a></li>
							<li><a href="index.html">主站</a></li>
							<li><a href="contact.html">联系我们</a></li>
						</ul>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>招聘信息</h4>
						<ul>
							<li><span>###-###-###</span></li>
							<li><span>###-###-###</span></li>
						</ul>
						<!--<div class="social-icons">
							<h4>Follow Us</h4>
					   		  <ul>
							      <li><a href="#" target="_blank"><img src="images/facebook.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="images/twitter.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="images/skype.png" alt="" /> </a></li>
							      <li><a href="#" target="_blank"> <img src="images/linkedin.png" alt="" /></a></li>
							      <div class="clear"></div>
						     </ul>
   	 					</div>-->
				</div>
			</div>
			 <!--<div class="copy_right">
				<p>Copyright &copy; 2014.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		   </div>-->			
        </div>
    </div>
    <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>

</body>
</html>

